.movie_container{
    position: relative;
}

.movie_ex{
    width: 261px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    backdrop-filter: blur(4px) grayscale(100%) brightness(0.5);
}

.movie_details{
    transition: all 0.5s ease-in-out;
}

.movie_details:hover{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    /* z-index: 13000; */
}

.movie_details a{
    text-decoration: none;
    color: white;
}

img{
    height: 100%;
}