<app-navi></app-navi>
<div class="container mt-3">

    <form class="d-flex" role="search">
        <input class="form-control me-2" #search type="search" placeholder="Search" aria-label="Search"
            [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-outline-success" type="submit" [routerLink]="['/search']"
            [queryParams]="{search_value: searchValue, page:1}">Search</button>
    </form>
    <div class="spinner-border text-primary" role="status" *ngIf="!isDataLoaded">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="row" *ngIf="isDataLoaded">
        <h2>Results</h2>
        <div class="col-lg-3 col-md-4 col-sm-6 movie_container mt-3"
            *ngFor="let movie of movies | paginate: { itemsPerPage: 20, currentPage: count, totalItems: maxCount }">
            <div class="movie_details">
                <div class="image_wrapper">
                    <a routerLink="/movie/{{movie.id}}">
                        <img src="{{movie.poster_path}}" alt="{{movie.title}}" width="100%" class="rounded">
                    </a>
                </div>
                <div class="movie_ex">
                    <h6 class="movie_title">
                        <a routerLink="/movie/{{movie.id}}">{{movie.title}}</a>
                    </h6>
                    <p>{{movie.release_date}}</p>
                </div>
            </div>

        </div>
    </div>

    <pagination-controls (pageChange)="onNewMovies($event)" class="text-center p-3"></pagination-controls>
</div>